*{
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #E9EAEE;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
select::-ms-expand {
    display: none;
}
select {
  -moz-appearance: none;
  -webkit-appearance:none;
  width: 22.7%;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
a{
  text-decoration: none;
  color: #4FADDE;
}
input, select, option{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: none;
}
#entrada + ul {
  top: 145px;
  left: auto;
}
#salida + ul {
  top: 185px;
  left: auto;
}
@media (max-width: 767px) {
  .w-list {
    width: 47%;
    margin: 7px;
  }
}

@media (min-width: 768px) {
  .w-list {
    width: 30%;
    margin: 10px;
  }
}
@media (min-width: 992px) {
  .w-list {
    width: 24%;
    margin: 4px;
  }
}
@media (min-width: 1200px) {
  .w-list {
    width: 19%;
    margin: 5px;
  }
}
.container{
  margin-top: 50px;
}
.bread-crumb ul li{
  display: inline-block;
}
.glyphicon-menu-right {
  font-size: .6em;
  margin: 0 10px;
}
.color-blue{
  color: #013D93;
}
.color-green{
  color: #7DC24B;
}
.color-black{
  color: #000000;
}
.color-blue-light{
  color: #4FADDE;
}
.color-d-grey{
    color: #979898!important;
}
.color-white{
  color: #FFFFFF;
}
.bg-grey{
  background: #EFEFEF;
}
.bg-white{
  background: #FFFFFF;
}
.bg-black{
  background: #000000;
}
.bg-yellow{
  background: #FFFF33;
}
.bg-blue-light{
  background: #EFF5FE;
}
.rounded-0{
  border-radius: 0;
}
.rounded-10{
  border-radius: 10px;
}
.rounded-5{
  border-radius: 5px;
}
.margin-auto{
  margin: auto;
}
.margin-0{
  margin: 0;
}
.margin-5{
  margin: 5px;
}
.margin-top-10{
  margin-top: 10px;
}
.margin-top-20{
  margin-top: 20px;
}
.margin-top-30{
  margin-top: 30px;
}
.margin-top-40{
  margin-top: 40px;
}
.margin-bottom-0{
  margin-bottom: 0;
}
.margin-bottom-10{
  margin-bottom: 10px;
}
.margin-bottom-30{
  margin-bottom: 30px;
}
.margin-right-5{
  margin-right: 5px;
}
.padding-0{
  padding: 0;
}
.padding-3{
  padding: 3px;
}
.padding-5{
  padding: 5px;
}
.padding-10{
  padding: 10px;
}
.padding-15{
  padding: 15px;
}
.padding-20{
  padding: 20px;
}
.padding-30{
  padding: 30px;
}
.padding-35{
  padding: 35px;
}
.padding-right-0{
  padding-right: 0;
}
.padding-right-2{
  padding-left: 2px;
}
.padding-left-0{
  padding-left: 0;
}
.padding-left-5{
  padding-left: 5px;
}
.padding-right-5{
  padding-right: 5px;
}
.padding-left-10{
  padding-left: 10px;
}
.padding-left-15-p{
  padding-left: 15%;
}
.padding-right-10{
  padding-right: 10px;
}
.padding-bottom-0{
  padding-bottom: 0px;
}
.padding-bottom-5{
  padding-bottom: 5px;
}
.padding-bottom-10{
  padding-bottom: 10px;
}
.padding-left-15{
  padding-left: 15px;
}
.padding-left-17{
  padding-left: 17px;
}
.padding-left-20{
  padding-left: 20px;
}
.padding-left-25{
  padding-left: 25px;
}
.padding-20-not-bottom{
  padding: 20px 20px 0 20px;
}
.padding-5-15{
  padding: 5px 15px;
}
.padding-10-30{
  padding: 10px 30px;
}
.padding-5-3{
  padding: 5px 3px;
}
.padding-5-7{
  padding: 5px 7px;
}
.d-inline{
  display: inline-block;
}
.d-block{
  display: block;
}
.t-center{
  text-align: center;
}
.t-right{
  text-align: right;
}
.b-grey{
  border: 1px solid #CCCCCC;
}
.b-d-grey{
  border: 1px solid #979898;
}
.b-bottom{
  border-bottom: 1px solid #CCCCCC;
}
.b-top{
  border-top: 1px solid #CCCCCC;
}
.b-0{
  border: none;
}
.b-s-none{
  box-shadow: none!important
}
:-moz-placeholder, ::-moz-placeholder{
    font-style: oblique;
}
::-webkit-input-placeholder {
    font-style: oblique;
}
:-ms-input-placeholder, ::-ms-input-placeholder {
   font-style: oblique;
}
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.opacity-50{
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.relative{
  position: relative;
}
.absolute{
  position: absolute
}
.font-large{
  font-size: large;
}
.font-6{
  font-size: 6px;
}
.font-10{
  font-size: 10px;
}
.font-12{
  font-size: 12px;
}
.font-15{
  font-size: 15px;
}
.font-17{
  font-size: 17px;
}
.font-20{
  font-size: 20px;
}
.font-25{
  font-size: 25px;
}
.font-30{
  font-size: 30px;
}
.center-links{
  margin-top: 17px;
}
.center-links > li{
  height: 25px;
  width: 25px;
}
.center-links a {
    text-indent: -9999px;
    display: block;
    width: 100%;
    height: 100%;
    outline: 0;
}
.sp-rio-de-janeiro > div {
  height: 140px;
  position: relative;
  top: calc(50% - 70px);
}
.sp-rio-de-janeiro > p {
  position: relative;
}
.img-container img{
  max-height: 100px;
}
.stars{
  width: 25px;
  height: 25px;
  display: inline-block;
}
.stars-sm{
  width: 19px;
  height: 19px;
  display: inline-block;
}
.comment{
  width: 15px;
  height: 15px;
  display: inline-block;
}
.lupa{
  width: 10px;
  height: 10px;
  display: inline-block;
}
.user{
  width: 50px;
  height: 50px;
  display: block;
}
.flag{
  width: 20px;
  height: 15px;
  display: block;
}
.calendar{
  width: 20px;
  height: 20px;
  display: block;
  bottom: 25px;
  left: 85%;
  position: relative;
}
.price{
  width: 60px;
  height: 60px;
  display: block;
}
.d-arrow{
  position: relative;
  right: 23px;
  bottom: 3px;
  pointer-events: none;
}
.map{
  height: 275px;
  display: block;
}
.g-map{
  position: relative;
  top: -305px;
  height: 276px;
}
.map-height{
  height: 345px;
}
.h-detail{
  position: relative;
  top: -20px;
  right: -5px;
}
.gradient-yellow{
  max-width: 100%;
  background-size: 100%;
  background: url('../images/sprite.png');
  background-position: 0 84.980237%;
  background-size: 559%;
  background: -webkit-linear-gradient(#FFFF33, #FFFFFF);
  background: -o-linear-gradient(#FFFF33, #FFFFFF);
  background: -moz-linear-gradient(#FFFF33, #FFFFFF);
  background: linear-gradient(#FFFF33, #FFFFFF);
}

.gradient-red{
  max-width: 100%;
  background-size: 100%;
  background: url('../images/sprite.png');
  background-position: 0 79.525692%;
  background-size: 559%;
  background: -webkit-linear-gradient(#EC2B35, #660409);
  background: -o-linear-gradient(#EC2B35, #660409);
  background: -moz-linear-gradient(#EC2B35, #660409);
  background: linear-gradient(#EC2B35, #660409);
}
.gradient-blue{
  max-width: 100%;
  background-size: 100%;
  background: url('../images/sprite.png');
  background-position: 0 74.071146%;
  background-size: 559%;
  background: -webkit-linear-gradient(#0B4698, #041831);
  background: -o-linear-gradient(#0B4698, #041831);
  background: -moz-linear-gradient(#0B4698, #041831);
  background: linear-gradient(#0B4698, #041831);
}
.gradient-grey{
  max-width: 100%;
  background-size: 100%;
  background: url('../images/sprite.png');
  background-position: 0 92.336922%;
  background-size: 2236%;
  background: -webkit-linear-gradient(#FFFFFF, #CCCCCC);
  background: -o-linear-gradient(#FFFFFF, #CCCCCC);
  background: -moz-linear-gradient(#FFFFFF, #CCCCCC);
  background: linear-gradient(#FFFFFF, #CCCCCC);
}
.button-shadow{
  box-shadow: 1px 1px 3px #000000;
  border: none;
}
.weight-inherit{
  font-weight: inherit;
}
.underlined{
  text-decoration: underline;
}
.f-right{
  float: right;
}
.map-button{
  border: none;
  background: transparent;
}
.user-data > p{
  margin: 0;
}
.pagination-sm > .disabled > a, .pagination-sm > .disabled > a{
  display: none;
}
.pagination-sm > li > a{
  font-size: 17px;
  margin: 2.5px;
  border-radius: 2px;
  color: #4FADDE;
  background: #F7F7F7;
  border: 1px solid #E6E6E6;
}
.pagination-sm > li > a:hover{
  background: transparent;
}
.pagination-sm > .pagination-first > a, .pagination-sm > .pagination-prev > a, .pagination-sm > .pagination-last > a, .pagination-sm > .pagination-next > a{
  border: none;
  padding: 5px;
  margin-top: 2.5px;
  background: transparent;
}
.pagination-sm > .active > a{
  background: transparent;
  color: #979898;
  border: none;
}
.pagination-sm > .active > a:hover{
  background: transparent;
  color: #013D93;
}
.form-search{
  display: inline-block;
  float: right;
  width: 88%;
}
form label{
  width: 12%;
  font-weight: normal;
}
.center-label{
  position: relative;
  top: 6px;
}
.ov-auto{
  overflow: auto;
}
.full-height{
  height: 100%;
}
.full-width{
  width: 100%;
}
.half-height {
  height: 50%;
}
.half-width{
  width: 49%;
}
.width-15{
  width: 15%;
}
.width-40{
  width: 40%;
}
.width-85{
  width: 85%;
}
.width-70-p{
  width: 70%;
}
.bubble {
position: relative;
background: #EFF5FE;
}
.bubble{
  position: relative;
  background: #EFF5FE;
  border: #4FADDE solid 1px;
}
.bubble:before, .bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 17px 17px 0;
  display: block;
  width: 0;
  left: 36px;
}
.bubble:before {
border-color: #4FADDE transparent;
z-index: 1;
bottom: -17px;
}

.bubble:after
{
border-color: #EFF5FE transparent;
z-index: 1;
bottom: -16px;
}
